.App {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    display: flex;
    font-size: calc(10px + 1vmin);
    width: 100%;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form {
    padding: 32px 32px 0 32px;
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}


.inputContainer label {
    width: 300px;
}

.inputContainer input {
    width: 300px;
}

.inputContainer input[type=text] {
    width: 150px;
}

.form button {
    width: 200px;
    margin: 20px 20px 20px 0;
}

.form .buttonContainer {
    margin-top: 32px;
    display: flex;
}

.outputs {
    display: flex;
}

.outputs button {
    width: 200px;
    margin: 20px
}

.subtitle {
    margin-bottom: 0;
    font-size: 18px;
}

li {
    font-size: 14px;
    margin: 6px 0;
}

.right a {
    margin-left: 4px;
    color: aqua;
}
